<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Test</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
    <h1><%= title %></h1>
</header>
<nav>
    <span><a title="主页" href="/">主页</a></span>
    <span><a title="登陆" href="/login">登录</a></span>
    <span><a title="注册" href="/reg">注册</a></span>
</nav>
<article>